{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <button class="btn btn-info" onclick="activateForm('field')">Edit Information</button>
    <fieldset id="field" disabled>
        <h5>Personal Information</h5>
        <form action="/profile" method="post">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="required">First Name</label>
                    {% if info is undefined %}
                        <input class="form-control" autofocus name="firstname" id="firstname" placeholder="First Name" type="text" required>
                    {% else %}
                        <input class="form-control" autofocus name="firstname" id="firstname" placeholder="First Name" type="text" value={{ info['first_name'] }} required>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label class="required">Last Name</label>
                    {% if info is undefined %}
                        <input class="form-control" name="lastname"  id="lastname" placeholder="Last Name" type="text" required>
                    {% else %}
                        <input class="form-control" name="lastname"  id="lastname" placeholder="Last Name" type="text" value="{{ info['last_name'] }}" required>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="required">Gender</label>
                    <select class="form-control" name="gender" required>
                        {% if info is undefined %}
                            <option disabled selected value="">Choose...</option>
                        {% else %}
                            <option selected value={{ info['gender'] }}>{{ info['gender'] }}</option>
                        {% endif %}
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="required">Birthday (MM-DD-YYYY)</label>
                    {% if info is undefined %}
                        <input class="form-control" name="birthday" type="date" required>
                    {% else %}
                        <input class="form-control" name="birthday" type="date" value="{{ info['birthday'] }}" required>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="#phone-input">Phone Number</label>
                    {% if info is undefined %}
                        <input class="form-control" id="phone-input" type="tel" name="phoneNo" aria-label="Please enter your phone number" placeholder="ex. 1(111)-111-1111">
                    {% else %}
                        <input class="form-control" id="phone-input" type="tel" name="phoneNo" aria-label="Please enter your phone number" placeholder="ex. 1(111)-111-1111" value="{{ info['phone'] }}">
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    {% if info is undefined %}
                        <input class="form-control" name="email" type="email">
                    {% else %}
                        <input class="form-control" name="email" type="email" value="{{ info['email'] }}">
                    {% endif %}
                </div>
            </div>
            <h5>Family Information</h5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Spouse's First Name</label>
                    {% if spouse is undefined %}
                        <input class="form-control" name="spfirstname" placeholder="Spouse's First Name" type="text">
                    {% else %}
                        <input class="form-control" name="spfirstname" placeholder="Spouse's First Name" type="text" value="{{ spouse['first_name'] }}">
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    <label>Spouse's Last Name</label>
                    {% if spouse is undefined %}
                        <input class="form-control" name="splastname" placeholder="Spouse's Last Name" type="text">
                    {% else %}
                        <input class="form-control" name="splastname" placeholder="Spouse's Last Name" type="text" value="{{ spouse['last_name'] }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Spouse's Gender</label>
                    <select class="form-control" name="spgender">
                    {% if spouse is undefined %}
                        <option isabled selected value="">Choose...</option>
                    {% else %}
                        <option selected value={{ spouse['gender'] }}>{{ spouse['gender'] }}</option>
                    {% endif %}
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Spouse's Birthday (MM-DD-YYYY)</label>
                    {% if spouse is undefined %}
                        <input class="form-control" name="spbirthday" type="date">
                    {% else %}
                        <input class="form-control" name="spbirthday" type="date" value="{{ spouse['birthday'] }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="#phone-input">Spouse's Phone Number</label>
                    {% if spouse is undefined %}
                        <input class="form-control" id="phone-input" type="tel" name="spphoneNo" aria-label="Please enter your phone number" placeholder="ex. 1(111)-111-1111">
                    {% else %}
                        <input class="form-control" id="phone-input" type="tel" name="spphoneNo" aria-label="Please enter your phone number" placeholder="ex. 1(111)-111-1111" value="{{ spouse['phone'] }}">
                    {% endif %}

                </div>
                <div class="form-group col-md-6">
                    <label>Spouse's Email</label>
                    {% if spouse is undefined %}
                        <input class="form-control" name="spemail" type="email">
                    {% else %}
                        <input class="form-control" name="spemail" type="email" value="{{ spouse['email'] }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label>Address</label>
                    {% if info is undefined %}
                        <input class="form-control" name="address1" placeholder="1234 Main St" type="text">
                    {% else %}
                        <input class="form-control" name="address1" placeholder="1234 Main St" type="text" value="{{ info['addr_street'] }}">
                    {% endif %}
            </div>
            <div class="form-group">
                <label>Address 2</label>
                    {% if info is undefined %}
                        <input class="form-control" name="address2" placeholder="Apartment, studio, or floor" type="text">
                    {% else %}
                        <input class="form-control" name="address2" placeholder="Apartment, studio, or floor" type="text" value="{{ info['addr2'] }}">
                    {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    {% if info is undefined %}
                        <input class="form-control" name="city" type="text">
                    {% else %}
                        <input class="form-control" name="city" type="text" value="{{ info['city'] }}">
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    <label>State</label>
                    <select class="form-control" name="state">
                        {% if info is undefined %}
                            <option disabled selected value="">Choose...</option>
                        {% else %}
                            <option selected value={{ info['state'] }}>{{ info['state'] }}</option>
                        {% endif %}
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="District Of Columbia">District Of Columbia</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Massachusetts">Massachusetts</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Utah">Utah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Washington">Washington</option>
                        <option value="West Virginia">West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Zipcode</label>
                    {% if info is undefined %}
                        <input class="form-control" name="zipcode" type="text" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$">
                    {% else %}
                        <input class="form-control" name="zipcode" type="text" pattern="^\s*?\d{5}(?:[-\s]\d{4})?\s*?$" value="{{ info['zipcode'] }}">
                    {% endif %}
                </div>
            </div>
            <!--<h5>Account Setup</h5>-->
            <!--<div class="form-group">-->
            <!--    <label class="required">Username</label>-->
            <!--        {% if info is undefined %}-->
            <!--            <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text" required>-->
            <!--        {% else %}-->
            <!--            <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text" value="{{ info['username'] }}" required>-->
            <!--        {% endif %}-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--    <label class="required">Password</label>-->
            <!--    <input class="form-control" name="password" id="password" placeholder="Password" type="password" required>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--    <label class="required">Retype Password</label>-->
            <!--    <input class="form-control" name="confirmation" id="confirmation" placeholder="Retype Password" type="password" required>-->
            <!--</div>-->
            <small class="form-text text-muted">All the information will not be shared to others.</small>
            <button class="btn btn-success" type="submit">Save All Changes</button>
        </form>
    </fieldset>
    <script>
        function activateForm(id) {
            let form = document.getElementById(id);
            form.disabled = false;
        }
        function phoneMask() {
            var num = $(this).val().replace(/\D/g,'');
            $(this).val(num.substring(0,1) + '(' + num.substring(1,4) + ')' + num.substring(4,7) + '-' + num.substring(7,11));
        }
        $('[type="tel"]').keyup(phoneMask);
    </script>
{% endblock %}